# Project exclude paths
/target/
/iqtree-runtime/iqtree-1.6.12-Windows/data/
/iqtree-runtime/iqtree-1.6.12-Windows/result/
/iqtree-runtime/iqtree-1.6.12-MacOSX/data/
/iqtree-runtime/iqtree-1.6.12-MacOSX/result/
